{% extends "base.html" %}

{% block content %}

<div>

    <div><h4>
        Score: {{ STATE.my_score }} : {{ STATE.ai_score }}
        </h4></div>
    <div class="row">
        <div class="col s3"></div>
        <div class="col s3"><h4>Result</h4></div>
    </div>

</div>


<div class="row">

    <div class="col s6">
        <p>
            You selected: {{ STATE.my_choice }}
        </p>
    </div>
    <div class="col s6">
        <p>
            Computer selected: {{ STATE.ai_choice }}
        </p>
    </div>
</div>

<div class="row">
    <div class="col s3"></div>
    <div class="col s3">
        {{ STATE.result }}
    </div>
</div>

  <form method="post">
    <p>
      <label>
        <input name="group1" value="rock" type="radio" checked />
        <span>Rock</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" value="paper" type="radio" />
        <span>Paper</span>
      </label>
    </p>
    <p>
      <label>
        <input class="with-gap" name="group1" value="scissors" type="radio"  />
        <span>Scissors</span>
      </label>
    </p>
     <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
  </form>






{% endblock %}

